Application-1 . A random number geneerator in Nodered.txt
[{"id":"ae353a96.913bf8","type":"inject","z":"ec677514.d06c88","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":160,"wires":[["a5b7315b.584ee"]]},{"id":"a5b7315b.584ee","type":"function","z":"ec677514.d06c88","name":"conditional","func":"var x= Math.floor(Math.random() * 11);\nvar n = x.toString();\n\nif (n<5)\n{\nmsg.payload=' Number '  +   x   + '  is a low number'\n}\n\nelse\n{\nmsg.payload=' Number ' +   x   +'  is a high number'\n}\n\n\nreturn [msg];","outputs":1,"noerr":0,"x":460,"y":220,"wires":[["ac3304b3.67f818"]]},{"id":"ac3304b3.67f818","type":"debug","z":"ec677514.d06c88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":800,"y":260,"wires":[]}]